html{
    
}

body{
    padding:0;
    margin: 0;
    background-color: lightgray;
}

#container{
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

#header{
    display:grid;
    grid-template-columns: 1fr 3fr;
    background-color: darkseagreen;
    grid-row: 1/2;
}

#title{
    text-align: center;
}

#nav{
}

#nav ul{
    list-style-type: none;
}

#nav ul li{
    display: inline-block;
    width: 22%;
    
}

#nav ul li a{
    text-decoration: none;
    display: block;
    text-align: center;
    
    color: black;
    font-weight: bolder;
    font-size: large;
    padding-bottom: 15px;
    padding-top: 15px;
}

#nav ul li a:hover{ 
    background-color: cadetblue;
}

#content{
    margin-top: 10px;
    margin-bottom: 10px;
    grid-row: 2/3;
}

#content-header{
    text-align: center;
}

#content-info{
    text-align: center;
    font-size: large;
}

#content-info ul{
    list-style-type: none;
}

#content-image{
    text-align: center;
}

#content-image img{
    min-width: 250px;
    max-width: 250px;
}



#footer{
    text-align: center;
    font-weight: bolder;
    font-size: larger;
    padding: 30px 0px;
    background-color: darkseagreen;
    width: 100%;
    grid-row: 3/4;
}

@media only screen and (max-width:650px){
    #container{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto 1fr auto;
       
    }

    #header{
        display: grid;
        grid-template-rows: auto 1fr;
        background-color: none;
        display:grid;
        grid-template-columns: 1fr;
        grid-row: 1/2;
    }

    #title{
        grid-row: 1/2;
        width:100%;
        text-align: center;
    }

    #nav{
        grid-row: 2/3;
    }

    #nav ul{
        list-style-type: none;
    }
    
    #nav ul li{
        display: block;
        width: 18%;
        margin-right: 10px;
        padding: 5px 37%;
        
        
    }
    
    #nav ul li a{
        text-decoration: none;
        display: block;
        text-align: center;
        color: black;
        
    }
    
    #nav ul li:hover{
        background-color: cadetblue;
    }
    
}